/*comentario de css*/
header{
    background-color:  darksalmon;
}
/*selector x id*/
#p3{
    color: blueviolet;
    font-size: 1em;
    text-align: center;
    font-weight: 100;
}   
/*.parrafo llama a todos los de la clase
#parrafo llama a un unico por id*/